.pagination {
    margin-bottom: $half-column-gutter;
    span {
        a {
            @extend a.button;
            color: $button-color;
        }
        &.current {
            @extend a.button:hover;
            padding: $button-padding;
            display: inline-block;
            cursor: default;
            border-radius: remCalc(4);
        }
        &.disabled {
            display: none;
        }
    }
}
