table {
    width: 100%;
    margin: 0 0 $column-gutter;
}

th {
    text-align: left;
    font-size: $font-one;
    font-weight: $font-weight-bold;
    border: $border;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: $white;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: $white;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: $white;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: $white;
}

td, th {
    padding: $half-column-gutter;
    border: $border;
}

td {
    text-align: left;
    font-size: $font-one;
    font-weight: $font-weight-regular;
}
